/* Roboto Regular (400) */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/roboto/roboto-v50-latin-regular.woff2") format("woff2");
}

/* Roboto Medium (500) */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/roboto/roboto-v50-latin-500.woff2") format("woff2");
}

/* Roboto Bold (700) */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/roboto/roboto-v50-latin-700.woff2") format("woff2");
}
